.first {
  background-color: #1f2544;
  text-align: center;
  color: whitesmoke;
  margin-top: 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.first h1 {
  margin: 0;
}

.second {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  height: 17rem;
  width: 100%;
  align-items: center;
}
.second h1 {
  text-align: center;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  height: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
}
.title h3 {
  font: var(
    --typo-copy-large-heavy-font,
    700 1rem / 1.5 "Roboto Condensed",
    RobotoCondensedArial,
    sans-serif
  );
}

.title img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.content{
  display: flex;
  justify-content: center;
}

.content p {
  width: 80%;
  text-align: center;
  font: var(
    --typo-title-small-heavy-font,
    700 1.25rem / 1.2 "Roboto Condensed",
    RobotoCondensedArial,
    sans-serif
  );
}

.imgcontainer {
  background: url("../assets/pexels-andrea-piacquadio-760015.jpg") no-repeat center
    center fixed;
  background-size: cover;
  width: 100%;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgcontainer h1{
 text-align: center;
 color: whitesmoke;
 opacity: 0.85;
 font-style: italic;
}

.company-info{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: fit-content;
 background-color: #FFD0EC;
}

.company-info h2{
font: var(--typo-display-small-heavy-font, 900 2.875rem / 1 "Roboto Condensed",RobotoCondensedArial,sans-serif );
color: #474F7A;
}

.company-info p{
 font: var(--typo-copy-large-font, 400 1rem / 1.5 Roboto,RobotoArial,sans-serif );
 width: 50%;
 font-size: 1.3rem;
 height: fit-content;
 color: #81689D; 
}
