.header {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #070f2b;
  height: fit-content;
  box-sizing: border-box;
}
.header h1 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  display: flex;
}
.header h1 a {
  text-decoration: none;
  color: #097509;
  display: flex;
  font-size: 2rem;
}

.header h1 a:active,
.header h1 a:hover {
  color: #097509;
}

.header h1 a img {
  height: 2rem;
  width: 2rem;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
  filter: invert(19%) sepia(94%) saturate(4486%) hue-rotate(101deg)
    brightness(92%) contrast(93%);
}
nav {
  width: auto;
}
.list {
  display: flex;
  width: auto;
  gap: 1rem;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.list a {
  text-decoration: none;
  margin-right: 0.5rem;
  color: whitesmoke;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.login {
  color: whitesmoke;
  background-color: #474f7a;
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  margin-top: 0;
  font-style: oblique;
  cursor: pointer;
  border: 1px solid #474f7a;
  border-radius: 5px;
}

.login:hover {
  color: var(--color-primary-800);
  background-color: #81689d;
}

.user-icon {
  height: 1.5rem;
  width: 1.2rem;
  cursor: pointer;
  filter: invert(98%) sepia(100%) saturate(20%) hue-rotate(181deg)
    brightness(116%) contrast(92%);
}

.user-icon:hover {
  filter: invert(5%) sepia(6%) saturate(651%) hue-rotate(169deg) brightness(90%)
    contrast(102%);
}

.logout-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 3%;
}

.account-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}
.options-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.options {
  margin-top: 1%;
  list-style: none;
  background-color: white;
  z-index: 5;
  padding: 0.5rem 0.7rem;
  height: fit-content;
}


.option {
  width: 100%;
  font-size: 0.95rem;
}

.option a {
 text-decoration: none;
 color: inherit; 
}
.option:hover {
  background-color: aqua;
  cursor: pointer;
}

@media only screen and (min-device-width: 50px) and (max-device-width: 360px) {
  .header {
    padding: 0;
  }

  .header h1 a {
    font-size: 1.2rem;
  }

  .header h1 {
    margin-top: 1rem;
  }

  .header h1 a img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.4rem;
    margin-top: 0.2rem;
  }

  .list a {
    font-size: 0.7rem;
  }

  .login {
    font-size: 0.7rem;
    padding: 0;
  }
}
