.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 100vw;
}

.table td,
th {
  border: 1px solid #a6a4a4;
  text-align: left;
  padding: 0.5rem;
}

.table th {
  background-color: #24234d;
  font-size: 1.2rem;
}

.table td {
  font-size: 0.9rem;
  min-height: 2rem;
  height: fit-content;
}
.table tr:nth-child(even) {
  background-color: #dddddd;
}
