.container {
  background-color: #474f7a;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  border-bottom: #070f2b 1.5px solid;
}

.info-container {
  color: #070f2b;
}

.link {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0 0.5rem;
  min-width: fit-content;
  width: 12%;
  height: fit-content;
  margin-top: 1.1rem;
  border-radius: 0.7rem;
  background-color: #097509;
  border: 5px solid #097509;
  color: whitesmoke;
  font-size: 0.85rem;
}

.link:hover {
  background-color: #070f2b;
  border-color: #070f2b;
  color: var(--color-primary-800);
}

.email-container {  
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 60%;
}
